<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Longbridge OpenAPI SDK Documents</title>
    <style type="text/css">
      hr {
        margin-bottom: 20px;
      }
      a {
        margin: 20px;
        font-size: 20pt;
      }
      .lang_block {
        margin: 20px;
      }
      .lang-title {
        font-size: 26pt;
      }
    </style>
  </head>

  <body>
    <h1>Longbridge OpenAPI SDK Documents</h1>
    <hr />
    <div class="lang_block">
      <a href="rust/longbridge/index.html">Rust</a>
    </div>
    <div class="lang_block">
      <a href="python/index.html">Python</a>
    </div>
    <div class="lang_block">
      <a href="nodejs/index.html">Node.js</a>
    </div>
    <div class="lang_block">
      <a href="java/index.html">Java</a>
    </div>
    <div class="lang_block">
      <a href="c/index.html">C</a>
    </div>
    <div class="lang_block">
      <a href="cpp/index.html">C++</a>
    </div>
  </body>
</html>
